:root {
    --darkBlue: #1e252b;
    --lighterBlue: #283036;
    --orange: #FF6E30;
    --priceOrange: #FFA5378C;
    --hoverOrange: #FFA537;
    --graytext: #FFFFFF8C;
    --gradient: #ff4842;
    --whiteText: #FFFFFFE5;
    --border: #FFFFFF1A;
    --cardLighterBlue: #28303699;
    --thirdS: #2C353D33;
    --footerWhite: #FFFFFFE5;
}